html {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 10%;
  margin-right: 10%;
}

.header-left {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.header-right {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.header-logo {
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
}

.name {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #eee;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  margin-right: 1.5rem;
  color: #eee;
}

@media only screen and (max-width: 768px) {
  .header {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  /* navbar is just anchor links, we can remove it on mobile */
  .header-right {
    display: none;
  }
}

.main-background {
  background-image: url("../images/akiba.jpg");
  background-position: center;
  background-size: cover;
}

.main {
  background-image: linear-gradient(
    rgba(92, 60, 220, 1),
    rgba(92, 60, 220, 0.8),
    rgba(92, 60, 220, 1)
  );
  padding-top: 5rem;
}

.hero-wrapper {
  display: flex;
  flex-direction: row;
}

.hero {
  margin-left: 10%;
  margin-top: 3rem;
}

.hero h2 {
  font-size: 2.7rem;
  font-weight: 800;
  padding-bottom: 2rem;
  color: #eee;
}

.hero p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  width: 70%;
  color: #eee;
}

.hero-image-wrapper {
  margin-right: 15%;
}

.hero-image {
  border-radius: 1rem;
  border: 0.4rem #000 solid;
  border-right-width: 0.7rem;
  border-bottom-width: 0.7rem;
  height: 700px;
  transform: skewY(-15deg) rotate(15deg) scaleY(0.85);
}

@media only screen and (max-width: 768px) {
  .hero-wrapper {
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }

  .hero {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .hero-image-wrapper {
    text-align: center;
    margin-right: 0;
  }
}

.section-title {
  font-size: 2.7rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  color: #3c4754;
}

.feature-grid {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  margin-right: 8%;
}

.feature-grid-row {
  display: flex;
  flex-direction: row;
}

.feature-grid-cell {
  align-items: center;
  display: flex;
  width: 33%;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #3c4754;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.feature-grid-cell i {
  font-size: 4rem;
}

.cell-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 800;
}

.cell-body {
  line-height: 1.3rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .feature-grid-row {
    flex-direction: column;
  }

  .feature-grid-cell {
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    color: #3c4754;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.support-section {
  padding-top: 1rem;
  text-align: center;
  line-height: 1.3rem;
  color: #3c4754;
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  margin-bottom: 3rem;
  margin-top: 6rem;
}

footer p {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: #708093;
}

footer i {
  margin-left: 1rem;
  color: #708093;
}
